/* .card {
    border: none;
    width: 500px;
    padding: 40px;
    top: 50%, -50%;
    left: center;
    position: absolute;
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}*/
.main-div mat-card{
    padding:0px;

}
.main-div{
    background-image: url('TechMTemplate.jpg');
}
.login-form{
    padding:20px;

}
.login{
    background-color:#d11313;
    text-align: center;
    color:floralwhite;
    font-size:25px;
}
.button{
    background-color: #d11313;
    color:floralwhite;
}
