<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="warn">Employee Details </mat-toolbar>
        <br>

        <div>Techm Id : <span>{{employee.techmid}}</span></div>
        <div>First Name : <span>{{employee.firstName}}</span></div>
        <div>Last Name : <span>{{employee.lastName}}</span></div>
        <div>Email : <span>{{employee.email}}</span></div>
        <div>Role : <span>{{employee.role}}</span></div>
        <div>Certification : <span>{{employee.certification}}</span></div>
        <div>Project : <span>{{employee.project}}</span></div>
        <div>Manager Id : <span>{{employee.mgrid}}</span></div>
        <br>
        <button class="button" mat-raised-button type="submit" color="warn">Update</button>

    </mat-card>
</div>